/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-03-2019, 12:30:24
    Author     : aamandajuhl
*/

#index div{
    border-style: solid;
    border-color: #ffe8ff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 25px;
    box-sizing: border-box;
    width: 300px;
    height: 230px;
    background-color: rgba(247, 228, 247, 0.5);

}

#shop div{
    border-style: solid;
    border-color: #f0d1e0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 25px;
    box-sizing: border-box;
    width: 700px;
    height: 150px;
    background-color: rgba(232, 206, 223, 0.75);
}

#shoppingcart div{
    border-style: solid;
    border-color: #f0d1e0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 25px;
    box-sizing: border-box;
    width: 700px;
    background-color: rgba(232, 206, 223, 0.75);
}

#shoppingcart td, #shoppingcart th{
    padding: 8px;
    text-align: center;
}

#menu div{
    text-align: left;
}

#balance div{
    text-align: right;
}

#index h1{
    color: #ffe8ff;
}

#shop h1{
    color: #C6FFFD;
    display: -webkit-flex;
    -webkit-align-items: center;
}

#shoppingcart p{
    text-align: left;
}

#shoppingcart b{
    text-align: left;
}


#index h3{

    color: #ffe8ff;
}

body{
    background-image: url("https://media.altphotos.com/cache/images/2017/03/12/09/1504/cupcakes.jpg");
    background-size: cover;
}